@import "tailwindcss";

:root {
  font-family: var(--font-sans);
  --background: #ffffff;
  --foreground: #171717;
  background-color: var(--color-eerie);
  color: var(--color-ethereal);
}
@theme {
  --color-ethereal: #e4e4de; /* Texto principal / Destaques claros */
  --color-sage: #c4c5ba; /* Textos secundários / Bordas sutis */
  --color-eerie: #1b1b1b; /* Fundo principal (Background) */
  --color-moss: #595f39; /* Accent color / Links / Comentários no código */

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --font-title: var(--font-geist-sans);
  --font-body: var(--font-geist-sans);
  --font-code: var(--font-geist-mono);

  --color-terminal-bg: #0d1117;
  --color-terminal-text: #e6edf3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

::selection {
  background-color: var(--color-moss);
  color: var(--color-ethereal);
}
